In [1]:

import pandas as pd
from pathlib import Path
from datetime import datetime

In [4]:
btc_df = pd.read_csv(
    Path("./Resources/history-btc.csv"),
    index_col="date",
    infer_datetime_format=True,
    parse_dates = True
    
)
display(btc_df.head())
display(btc_df.tail())

,symbol,open,high,low,close,Volume BTC,Volume USD
date,,,,,,,
2022-10-16 00:00:00,BTC/USD,19072.0,19110.0,19067.0,19110.0,2.232561,42664.24415
2022-10-15 23:00:00,BTC/USD,19062.0,19129.0,18990.0,19066.0,32.517872,619985.74050
2022-10-15 22:00:00,BTC/USD,19070.0,19091.0,19049.0,19060.0,8.105804,154496.63360
2022-10-15 21:00:00,BTC/USD,19097.0,19098.0,19061.0,19070.0,8.419527,160560.38080
2022-10-15 20:00:00,BTC/USD,19103.0,19111.0,19087.0,19097.0,7.027730,134208.55260

,symbol,open,high,low,close,Volume BTC,Volume USD
date,,,,,,,
2018-05-15 10:00:00,BTC/USD,8708.32,8865.00,8695.11,8795.90,11101273.74,1260.69
2018-05-15 09:00:00,BTC/USD,8728.49,8754.40,8701.35,8708.32,1593991.98,182.62
2018-05-15 08:00:00,BTC/USD,8739.00,8750.27,8660.53,8728.49,7986062.84,917.79
2018-05-15 07:00:00,BTC/USD,8740.99,8766.00,8721.11,8739.00,2390398.89,273.58
2018-05-15 06:00:00,BTC/USD,8733.86,8796.68,8707.28,8740.99,4906603.14,559.93

In [ ]:
#testing