In [6]:

import pandas as pd
from pathlib import Path

In [9]:
btc_df = pd.read_csv(
    Path("./Resources/BTC-USD.csv"),
    index_col="Date",
    infer_datetime_format=True,
    parse_dates = True
    
)

btc_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-16,61609.527344,62274.476563,60206.121094,60892.179688,60892.179688,34250964237
2021-10-17,60887.652344,61645.523438,59164.468750,61553.617188,61553.617188,29032367511
2021-10-18,61548.804688,62614.660156,60012.757813,62026.078125,62026.078125,38055562075
2021-10-19,62043.164063,64434.535156,61622.933594,64261.992188,64261.992188,40471196346
2021-10-20,64284.585938,66930.390625,63610.675781,65992.835938,65992.835938,40788955582
...,...,...,...,...,...,...
2022-10-12,19052.646484,19203.199219,19029.757813,19157.445313,19157.445313,24950173846
2022-10-13,19156.966797,19453.328125,18319.822266,19382.904297,19382.904297,44219840004
2022-10-14,19382.533203,19889.146484,19115.408203,19185.656250,19185.656250,38452356727
2022-10-15,19185.437500,19212.541016,19019.250000,19067.634766,19067.634766,16192235532
2022-10-16,19092.900391,19177.013672,19092.900391,19175.849609,19175.849609,15523442688