In [15]:
import pandas as pd
import numpy as np
from pathlib import Path
import holoviews as hv
import hvplot.pandas
import datetime as dt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [16]:
btc_df = pd.read_csv(
    Path("./Resources/history-btc.csv"),
    index_col="date",
    infer_datetime_format=True,
    parse_dates = True
    
)
display(btc_df.head())
display(btc_df.tail())

,symbol,open,high,low,close,Volume BTC,Volume USD
date,,,,,,,
2022-10-16 00:00:00,BTC/USD,19072.0,19110.0,19067.0,19110.0,2.232561,42664.24415
2022-10-15 23:00:00,BTC/USD,19062.0,19129.0,18990.0,19066.0,32.517872,619985.74050
2022-10-15 22:00:00,BTC/USD,19070.0,19091.0,19049.0,19060.0,8.105804,154496.63360
2022-10-15 21:00:00,BTC/USD,19097.0,19098.0,19061.0,19070.0,8.419527,160560.38080
2022-10-15 20:00:00,BTC/USD,19103.0,19111.0,19087.0,19097.0,7.027730,134208.55260

,symbol,open,high,low,close,Volume BTC,Volume USD
date,,,,,,,
2018-05-15 10:00:00,BTC/USD,8708.32,8865.00,8695.11,8795.90,11101273.74,1260.69
2018-05-15 09:00:00,BTC/USD,8728.49,8754.40,8701.35,8708.32,1593991.98,182.62
2018-05-15 08:00:00,BTC/USD,8739.00,8750.27,8660.53,8728.49,7986062.84,917.79
2018-05-15 07:00:00,BTC/USD,8740.99,8766.00,8721.11,8739.00,2390398.89,273.58
2018-05-15 06:00:00,BTC/USD,8733.86,8796.68,8707.28,8740.99,4906603.14,559.93

In [41]:
btc_df = btc_df.loc[:,["close"]]
btc_df

                        close
date
2022-10-16 00:00:00  19110.00
2022-10-15 23:00:00  19066.00
2022-10-15 22:00:00  19060.00
2022-10-15 21:00:00  19070.00
2022-10-15 20:00:00  19097.00
...                       ...
2018-05-15 10:00:00   8795.90
2018-05-15 09:00:00   8708.32
2018-05-15 08:00:00   8728.49
2018-05-15 07:00:00   8739.00
2018-05-15 06:00:00   8740.99

[38755 rows x 1 columns]

In [42]:
# btc_m_close = btc_df.drop(btc_df.columns[[0,1,2,3,5,6]],axis=1)
# btc_m_close

In [43]:

prediction_days = 30 #n = prediction_days = 30
#create column shipted 'n' units up
btc_df['Prediction'] = btc_df[['close']].shift(-prediction_days)

btc_df.head()

                       close  Prediction
date
2022-10-16 00:00:00  19110.0     19204.0
2022-10-15 23:00:00  19066.0     19363.0
2022-10-15 22:00:00  19060.0     19305.0
2022-10-15 21:00:00  19070.0     19356.0
2022-10-15 20:00:00  19097.0     19463.0

In [44]:
#(for every close price day the prediction is ''.

#show last 7 rows ot new df

btc_df.tail()

                       close  Prediction
date
2018-05-15 10:00:00  8795.90         NaN
2018-05-15 09:00:00  8708.32         NaN
2018-05-15 08:00:00  8728.49         NaN
2018-05-15 07:00:00  8739.00         NaN
2018-05-15 06:00:00  8740.99         NaN

In [45]:
#Create independent dataset
#Convert the df to numpy and drop prediction column
X = np.array(btc_df.drop(['Prediction'],1))
#Remove the last 'n' rows where 'n' is the prediction days
X = X[:len(btc_df)-prediction_days]

print(X)

[[19110.  ]
 [19066.  ]
 [19060.  ]
 ...
 [ 8225.  ]
 [ 8179.99]
 [ 8365.08]]

In [46]:
#Create dependent data set by converting dataframe to numpy array
y = np.array(btc_df['Prediction'])
# Get all values but the last 'n' rows
y = y[:-prediction_days]

print(y)

[19204.   19363.   19305.   ...  8728.49  8739.    8740.99]

In [47]:
#Split data into 80% training and 20% test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2)

In [48]:
#set the prediction days array equal to last 30 rows from original data
prediction_array = np.array(btc_df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_array)

[[8373.  ]
 [8371.13]
 [8243.45]
 [8207.48]
 [8232.99]
 [8238.8 ]
 [8220.4 ]
 [8229.38]
 [8164.79]
 [8133.43]
 [8326.28]
 [8455.92]
 [8474.99]
 [8460.  ]
 [8492.28]
 [8512.1 ]
 [8555.6 ]
 [8526.65]
 [8546.34]
 [8535.23]
 [8520.3 ]
 [8517.77]
 [8759.23]
 [8760.  ]
 [8760.  ]
 [8795.9 ]
 [8708.32]
 [8728.49]
 [8739.  ]
 [8740.99]]

In [49]:
#use svm to train model to fit into data
from sklearn.svm import SVR

#create and train the svm (regression) using radial basis function
svr_rbf = SVR(kernel='rbf',C=1e3,gamma=0.00001)
svr_rbf.fit(X_train,y_train)

SVR(C=1000.0, gamma=1e-05)

In [50]:
#test the model
svr_rbf_trust = svr_rbf.score(X_test, y_test)
print('svr_rbf Accuracy: ', svr_rbf_trust)

svr_rbf Accuracy:  0.993524683786189

In [53]:
#predicteed values of btc
svm_predictions = svr_rbf.predict(X_test)
print(svm_predictions)
print()

[39087.02032209 20673.54896728 43623.07440588 ... 56879.03261194
 46423.57532567  8416.54482057]

In [54]:
#print actual values
print(y_test)

[41057.48 21788.83 37992.53 ... 52800.75 37917.46  8641.26]

In [57]:
#model pediction for next 'n=30' days
svm_predictions = svr_rbf.predict(prediction_array)
print(svm_predictions)

[8391.90637497 8390.22892634 8247.80434481 8204.9630169  8235.08986078
 8242.13524563 8220.02589903 8230.73878841 8159.43794871 8131.25178843
 8345.84184084 8458.36458869 8473.90500591 8461.6086759  8489.08478646
 8508.20870035 8557.81147908 8523.60604377 8546.36708067 8533.25344417
 8516.73836275 8514.06625008 8780.95921246 8781.23451668 8781.23451668
 8790.01996466 8750.95809241 8765.81095798 8771.95962545 8773.00551171]

In [58]:
#actual price for Bitcoin in last 30 days
print(btc_df.tail(prediction_days))

                       close  Prediction
date
2018-05-16 11:00:00  8373.00         NaN
2018-05-16 10:00:00  8371.13         NaN
2018-05-16 09:00:00  8243.45         NaN
2018-05-16 08:00:00  8207.48         NaN
2018-05-16 07:00:00  8232.99         NaN
2018-05-16 06:00:00  8238.80         NaN
2018-05-16 05:00:00  8220.40         NaN
2018-05-16 04:00:00  8229.38         NaN
2018-05-16 03:00:00  8164.79         NaN
2018-05-16 02:00:00  8133.43         NaN
2018-05-16 01:00:00  8326.28         NaN
2018-05-16 00:00:00  8455.92         NaN
2018-05-15 23:00:00  8474.99         NaN
2018-05-15 22:00:00  8460.00         NaN
2018-05-15 21:00:00  8492.28         NaN
2018-05-15 20:00:00  8512.10         NaN
2018-05-15 19:00:00  8555.60         NaN
2018-05-15 18:00:00  8526.65         NaN
2018-05-15 17:00:00  8546.34         NaN
2018-05-15 16:00:00  8535.23         NaN
2018-05-15 15:00:00  8520.30         NaN
2018-05-15 14:00:00  8517.77         NaN
2018-05-15 13:00:00  8759.23         NaN
2018-05-15 12:00:00  8760.00         NaN
2018-05-15 11:00:00  8760.00         NaN
2018-05-15 10:00:00  8795.90         NaN
2018-05-15 09:00:00  8708.32         NaN
2018-05-15 08:00:00  8728.49         NaN
2018-05-15 07:00:00  8739.00         NaN
2018-05-15 06:00:00  8740.99         NaN